# Task: Restaurant Recommendation

## Objective:
    Create a restaurant recommendation system based on user preferences.

## Steps:
    Preprocess the dataset by handling missing
    values and encoding categorical variables.
    Determine the criteria for restaurant
    recommendations (e.g., cuisine preference,
    price range).
    
    Implement a content-based filtering
    approach where users are recommended
    restaurants similar to their preferred criteria.
    Test the recommendation system by
    providing sample user preferences and
    evaluating the quality of recommendations

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from sklearn import linear_model 

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

## Read The Data

In [2]:
# Reading the data
data= pd.read_csv(r'C:\Users\tirth\Desktop\Cognifyz\Dataset .csv')

## Preprocessing

In [3]:
# preprocessing the data
data.drop_duplicates(inplace=True)
data.dropna(inplace=True)
data.isna().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

## User Prefrence

In [4]:
# Filter the data based on user preferences
prefrence_data=data[(data['Cuisines'].str.contains('French'))
                    & (data['Price range'] >= 3) 
                    & (data['Aggregate rating'] >= 4.0)]
# print the preference data
prefrence_data

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
67,6713413,Les 3 Brasseurs,30,S��o Paulo,"Rua Jesu�_no Arruda, 470, Itaim Bibi, S��o Paulo",Itaim Bibi,"Itaim Bibi, S��o Paulo",-46.675110,-23.582135,"French, Brazilian, Beverages",...,Brazilian Real(R$),No,No,No,No,4,4.6,Dark Green,Excellent,30
259,17259340,Django,216,Des Moines,"210 10th Street, Des Moines, IA 50309",Downtown,"Downtown, Des Moines",-93.629436,41.584027,French,...,Dollar($),No,No,No,No,3,4.3,Green,Very Good,532
1141,130409,Baba Au Rhum,1,Goa,"1054, Sim Vaddo, Anjuna, Goa",Anjuna,"Anjuna, Goa",73.755750,15.576683,"Italian, French, Cafe",...,Indian Rupees(Rs.),No,No,No,No,3,4.5,Dark Green,Excellent,280
1145,16519268,La Plage,1,Goa,"Aswem Beach, Near Papa Jolly Hotel, Aswem Road...",Arambol,"Arambol, Goa",0.000000,0.000000,"Seafood, French",...,Indian Rupees(Rs.),No,No,No,No,3,4.6,Dark Green,Excellent,302
3257,305269,Bonne Bouche,1,New Delhi,"Shop 16, 1st Floor, Defence Colony Market, Def...",Defence Colony,"Defence Colony, New Delhi",77.230052,28.573447,"Italian, French",...,Indian Rupees(Rs.),Yes,Yes,No,No,3,4.1,Green,Very Good,711
4962,3235,Eau De Monsoon - Le Meridien,1,New Delhi,"Le Meridien, Windsor Place, Janpath, New Delhi","Le Meridien, Janpath","Le Meridien, Janpath, New Delhi",77.218565,28.618721,"Continental, European, North Indian, French",...,Indian Rupees(Rs.),Yes,No,No,No,4,4.0,Green,Very Good,189
9294,7422489,Avec Moi Restaurant and Bar,94,Jakarta,"Gedung PIC, Jl. Teluk Betung 43, Thamrin, Jakarta",Thamrin,"Thamrin, Jakarta",106.821023,-6.196270,"French, Western",...,Indonesian Rupiah(IDR),No,No,No,No,3,4.3,Green,Very Good,243
9329,7100119,Hippopotamus - Museum Hotel,148,Wellington City,"Museum Hotel, Level 3, 90 Cable Street, Te Aro...",Te Aro,"Te Aro, Wellington City",174.782427,-41.291774,"French, Kiwi",...,NewZealand($),No,No,No,No,4,4.4,Green,Very Good,125
9361,7601241,The Kitchin,215,Edinburgh,"78 Commercial Street, Leith, Edinburgh EH6 6LX",Leith,"Leith, Edinburgh",-3.172778,55.976980,"British, French",...,Pounds(��),No,No,No,No,4,4.4,Green,Very Good,275
9384,6113680,Restaurant Gordon Ramsay,215,London,"68 Royal Hospital Road, Chelsea, London SW3 4HP",Chelsea,Chelsea,-0.162092,51.485509,French,...,Pounds(��),No,No,No,No,4,4.7,Dark Green,Excellent,320
9416,6800782,The French by Simon Rogan - The Midland,215,Manchester,"The Midland, Peter Street, Deansgate, Manchest...","The Midland, Deansgate","The Midland, Deansgate, Manchester",-2.245077,53.477154,French,...,Pounds(��),No,No,No,No,4,4.3,Green,Very Good,114
9484,75989,Restaurant Mosaic @ The Orient,189,Pretoria,"The Orient Boutique Hotel, Crocodile River Val...",West Park,"West Park, Pretoria",27.999097,-25.761238,French,...,Rand(R),No,No,No,No,4,4.9,Dark Green,Excellent,85

In [5]:
count_vectorizer = CountVectorizer(tokenizer=lambda x: x.split(', ')) 
cuisine_matrix = count_vectorizer.fit_transform(data['Cuisines'])

#user cusine vector
user_cuisine_vector=count_vectorizer.transform(['French']) 
prefrence_cuisine_matrix=count_vectorizer.transform(prefrence_data['Cuisines'])

c:\Users\tirth\Desktop\Cognifyz\.venv\Lib\site-packages\sklearn\feature_extraction\text.py:517: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

In [6]:
prefered_cuisine_df = pd.DataFrame(cuisine_matrix.toarray(), columns=count_vectorizer.get_feature_names_out()) # convert the matrix to a dataframe
prefered_cuisine_df

,afghani,african,american,andhra,arabian,argentine,armenian,asian,asian fusion,assamese,...,teriyaki,tex-mex,thai,tibetan,turkish,turkish pizza,vegetarian,vietnamese,western,world cuisine
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9537,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9538,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9539,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9540,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9541,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
similarity=cosine_similarity(user_cuisine_vector,prefrence_cuisine_matrix) # calculate the cosine similarity
print(similarity) # similarity[0] is used to get the value from the array here [0] is used to get the value from the array

[[0.57735027 0.57735027 1.         0.57735027 0.70710678 0.70710678
  0.5        0.70710678 0.70710678 0.70710678 1.         1.
  1.        ]]

In [8]:
prefrence_data['Similarity']=similarity[0]
prefrence_data.sort_values(by='Similarity',ascending=False,inplace=True)
print(prefrence_data[['Restaurant Name','Cuisines','Aggregate rating','Votes']])

                              Restaurant Name  \
259                                    Django
9484           Restaurant Mosaic @ The Orient
9384                 Restaurant Gordon Ramsay
9416  The French by Simon Rogan - The Midland
1145                                 La Plage
9294              Avec Moi Restaurant and Bar
9329              Hippopotamus - Museum Hotel
9361                              The Kitchin
3257                             Bonne Bouche
1141                             Baba Au Rhum
67                            Les 3 Brasseurs
0                            Le Petit Souffle
4962             Eau De Monsoon - Le Meridien

                                         Cuisines  Aggregate rating  Votes
259                                        French               4.3    532
9484                                       French               4.9     85
9384                                       French               4.7    320
9416                                       French               4.3    114
1145                              Seafood, French               4.6    302
9294                              French, Western               4.3    243
9329                                 French, Kiwi               4.4    125
9361                              British, French               4.4    275
3257                              Italian, French               4.1    711
1141                        Italian, French, Cafe               4.5    280
67                   French, Brazilian, Beverages               4.6     30
0                      French, Japanese, Desserts               4.8    314
4962  Continental, European, North Indian, French               4.0    189

C:\Users\tirth\AppData\Local\Temp\ipykernel_20536\3764091391.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prefrence_data['Similarity']=similarity[0]
C:\Users\tirth\AppData\Local\Temp\ipykernel_20536\3764091391.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prefrence_data.sort_values(by='Similarity',ascending=False,inplace=True)